<div class="row text-center">
    <h2>Completed Tasks</h2>
</div>
<div class="row">
    <div class="col-sm-12 well">
        <table class="table">
            <thead>
                <tr>
                    <th class="col-md-9">Task</th>
                    <th class="col-md-2">Completed Date</th>
                    <th class="col-md-1">Delete from list</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in vm.items | orderBy: ['priority','dateCreated']"
                    ng-class="{backgroundRed: item.priority === 1, backgroundGreen: item.priority === 2, backgroundYellow: item.priority ===3}"
                    ng-if="item.dateCompleted">
                    <td>
                        {{item.toDoItem}}
                    </td>
                    <td>
                        {{item.dateCompleted | date}}
                    </td>
                    <td>
                        <label class="containercheck">
                            <input type="checkbox" autocomplete="off" ng-model="item.isDelete">
                            <span class="checkmark"></span>
                        </label>
                    </td>
                    
                </tr>
            </tbody>
        </table>
        
    </div>
    <div class="row">
        <!--style button-->
        <a ng-click="vm.btnDelete(vm.items)">Delete</a>
    </div>
</div>